html, body {
	width: 960px;
	margin: 0 auto;
	text-align: center;

}

h3#project.container {
	margin-top: 5%;
	
}
a {
	text-align: center;
}
* {
	margin: 0;
    padding: 0;
    background-color: transparent;
	}
h3#aboutme {
	margin-top: 5%;
	margin-bottom: 5%;
}
   body {
	color: rgb(0, 0, 0);
	background-color: #4682B4; 
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	margin-right: 10vw;
	width: 960px;
  }
  
  .avatar {
	border-radius: 50%;
	width: 200px;
	margin-top: 5%;
	margin: 5%;
  }
  
h3#nombre.container {
	flex-direction: row;
}

  hr {
	color:black;
  }
  
  h1 {
	margin-bottom: 5%;
  }

  h2 {
	margin-bottom: 5%;
  }
  
  /* Text Styling */
  .bold-text {
	text-transform: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background: none;
  }
  
  
  span {
	background: none;
  }
  header {
	display: flex;
  }
  
  .container-top {
	border-bottom: 1px solid rgb(0, 0, 0);
	display: flex;
	width: 100%;
	align-items: center;
	padding-top: 28px;
	padding-bottom: 28px;
	/* margin: 20px; */
  }
  
  .container-left{
	text-align: center;
  }
  nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  }
  
  ul {
	display: block;
  }
  nav ul {
	display: flex;
	gap: 20px;
	list-style: none;
  }
  
  a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
  }
  
  a:hover {
	text-decoration: underline;
	color: rgb(0, 0, 0);
  }
  
  
  .container {
	display: flex;
	flex-direction: row;
	/* height: 100vh; */
	text-align: center;
	background: none;
  }
  
  section#about.container {
	text-align: center;

  }

  div#contact.container {
	display: flex;
	flex-wrap: wrap;
  }
  div {
display: block;
justify-content: space-around;
margin-top: 5%;
  }

  div.container{
	height: 100%;
	display: flex;
	align-items: center;
	align-items: center;  }  

  div.container-right {
	display: flex;
	flex-direction: column;
}
  div.container-hero {
	text-align: center;
  }

  div#socials.container{
	display: block;
  }
  .main-container {
		text-align: center;
		margin-bottom: 5%;
		margin-top: 5%;
  }
section#socials-container{
	display: block;


}
  

  .h3.title.is-2 {
	text-align: start;
  }

  p {
	line-height: 175%;
  }


  .h3.title.is-3 {
	line-height: normal;
	display: flex;
  }

  form {
	text-align: center;
 	 border: 1px solid #4A4A4A;
  	padding: 30px;
	background-color: #333333;
	margin-bottom: 5%;
}



h2.title.is-2 {
	margin-top: 5%;
	text-align: start;
	margin-bottom: 5%;
}


h2.intro-3 {
	margin-top: 5%;
	text-align: start;
	margin-bottom: 5%;
}

section.resume {
	display: inline;
	text-align: center;

}
section.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;
}
section#contact-container {
	display: flex;
	justify-content: space-between;
	padding: 960px;
	margin: 48px 0px 0px;

}

div.resume-pending{
	text-align: center;
}
section#containers-welcome {
	text-align: center;
}

section.social-container-1 {
display: flex;
justify-content: space-evenly;
margin-bottom: 10%;
margin-top: 10%;
text-align: center;
}

.socials {
	display: flex;
}

.container {
	display: flex;
	flex-direction: row;
}

label {
	display: block;
	letter-spacing: 4px;
	padding-top: 30px;
	text-align: center;
  }
  

  img.projects {
	padding: 0;
	margin-top: 5%;
	

  }
  /* animation for the text to float up */
  
  label .label-text {
	color: #9B9B9B;
	cursor: text;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	-moz-transform: translateY(-34px);
	-ms-transform: translateY(-34px);
	-webkit-transform: translateY(-34px);
	transform: translateY(-34px);
	transition: all 0.3s;
  }
  
  /* remove the input box styling */
  label input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #4A4A4A;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	outline: 0;
	padding: 5px 20px;
	text-align: center;
	transition: all 0.3s;
	width: 200px;
  }
  
  /* once you click in the input the input width box animates */
  
  label input:focus {
	max-width: 100%;
	width: 400px;
  }
  
  /* the text floats up and turns white */
  
  label input:focus + .label-text {
	color: #F0F0F0;
	font-size: 13px;
	margin-top: 10px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
  }
  
  /* the text floats up during form validation */
  
  label input:valid + .label-text {
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
  }
  
  /* button styling */
  
  button {
	background: transparent;
	color: #F0F0F0;
	border: 2px solid #F0F0F0;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 20px 75px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	-webkit-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
  }
  
  button:hover, button:focus {
	background-color: white;
	color: #333333;
  }